<div class="container">
    <img src="/public/assets/images/TennisMatchr.png" alt="tennisBanner" class="center">
    <nav class="navbar navbar-expand-lg navbar-light">
        <span class="navbar-brand" href="#">
            <img src="/public/assets/images/unnamed.jpg" width="30" height="30" alt="player">
        </span>
        <a id="navbar-brand" class="navbar-brand" href="/">Home</a>        
        <a id="navbar-brand" class="navbar-brand" href="/event">Events</a>       
        <a id="navbar-brand" class="navbar-brand" href="/player">Players</a>           
    </nav>
</div>
<h1>Player-Driven Events</h1>
<div class="container">
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Creator</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Style</th>
                    <th>Slots</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {{#each event}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{this.creator}}</td>
                    <td>{{this.event_date}}</td>
                    <td>{{this.event_time}}</td>
                    <td>{{this.event_type}}</td>
                    <td>{{this.style}}</td>
                    <td>{{this.players_count}}</td>
                    <td>{{this.notes}}</td>
                </tr>
                {{/each}}      
            </tbody>
        </table>
    </div>
</div>   
<h1>Tournaments (GTN)</h1>
<div class="container">
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>City</th>
                    <th>State</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Gender</th>
                    <th>Style</th>
                    <th>Players</th>
                    <th>Fee</th>
                </tr>
            </thead>
            <tbody>
                {{#each tournament}}
                <tr>
                    <td>{{this.city}}</td>
                    <td>{{this.state}}</td>
                    <td><a href="{{this.url}}">{{this.name}}</a></td>
                    <td>{{this.startDate}}</td>
                    <td>{{this.gender}}</td>
                    <td>{{this.singlesDoubles}}</td>
                    <td>{{this.totalPlayers}}</td>
                    <td>{{this.fee}}</td>
                </tr>
                {{/each}}      
            </tbody>
        </table>
    </div>
</div>
<h1>Ladders (GTN)</h1>
<div class="container">
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>City</th>
                    <th>State</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Gender</th>
                    <th>Style</th>
                    <th>Players</th>
                    <th>Fee</th>
                </tr>
            </thead>
            <tbody>
                {{#each ladder}}
                <tr>
                    <td>{{this.city}}</td>
                    <td>{{this.state}}</td>
                    <td><a href="{{this.url}}">{{this.name}}</a></td>
                    <td>{{this.startDate}}</td>
                    <td>{{this.gender}}</td>
                    <td>{{this.singlesDoubles}}</td>
                    <td>{{this.totalPlayers}}</td>
                    <td>{{this.fee}}</td>
                </tr>
                {{/each}}      
            </tbody>
        </table>
    </div>
</div>